**Variables**

- Variables are used to store the values
  
- Variables can change their values
  
- Varyyy:Varying

In [1]:
number=100
number

#100 is stored in a variable called 'number'

100

In [3]:
number=200
number

200

- Yamini is learing python code mode is used to write the code markdown mode is used to write the story

square brackets are there before cell:code mode esc+m

In [5]:
raviteja=500
raviteja

500

In [7]:
raviteja=50000
raviteja

50000

In [9]:
raviteja=500000
raviteja

500000

In [11]:
raviteja1=25000
raviteja1

25000

In [13]:
raviteja2=2500
raviteja2



#type ra
#enter tab
#you can see the names which are starting with 'ra'

2500

In [15]:
lakshmi=100

- no variable given to store so no output

In [17]:
NUMBER=200
NUMBER

200

In [19]:
number123=400
number123

400

In [21]:
123number=500
123


#variables does not have numbers as prefix
#variables should not start with numbers

SyntaxError: invalid decimal literal (3981981304.py, line 1)

In [23]:
123 number=500
123number

SyntaxError: invalid decimal literal (1149251779.py, line 2)

In [25]:
Number*one=500
Number*one


#variables does not have spcl characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2320124088.py, line 1)

In [31]:
number_one=600
number_one

#variables can have underscores

600

In [33]:
_=900
_

#only underscores can represent as variables

900

- variables are case sensitive
- variables can be represented in capital letters 
- variables can be represented in small letters
- variables can have both combinations
- python will consider latest value
- variables does not start with numbers
- variables have numbers at last
- variables does not contain any spcl characters,except underscores
- variables does not have any space between the letters:number one
- only underscore can use as variables
- keywords or reserved words will use as variables:if,else

In [35]:
number_123_two=900
number_123_two

900